@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Teko:wght@300&display=swap');

$dark:#000000;
$darkred:darkred;
$red:red;
$back:#BFBFBF;
$white:#fff;
$center:center;
$small:small;
$xsmall:x-small;
$none:none;
$hide:hidden;
$percent:100%;
$no-repeat:no-repeat;
$portrait:portrait;
$landscape:landscape;

@mixin size($hgt,$wdt) {
    height:$hgt;
    width:$wdt;
}
@mixin d_flex($dp,$fldrct,$jstf, $alit) {
    display:$dp;
    flex-direction:$fldrct;
    justify-content:$jstf;
    align-items:$alit;
}

body{
    font-family: 'Allerta Stencil', sans-serif;
    padding:1vh;
    background:$back;
    @include size(100vh,100vw);
    @include d_flex(flex,row,center,center);
       .container{
           @include size(60%,80%);
           @include d_flex(flex,column,center,center);
           .banner{
            @include size(200px,200px);
            padding:1vh;
            margin-bottom:3vh;
            border-radius:50%;
            img{
                border:solid 1pc #869ab8;
                }
            } 
           strong a{
               text-decoration:none;
            }
            .form-control{
                margin-bottom:1vh;
            }
            .btn{
                width:100%;
                margin-bottom:3vh;
            }
       }
}